
html{
    font-size: 62.5%;
}


body{
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    
}
.main-container{
    display: block;
    max-width: 100vw;
    
   
}
.container{
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}


header{
     background: #fff;
     display: block;
     float: left;
     width: 100%;
     padding: 20px;
     border-bottom: 1px solid #254159;
 
}
h1{
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}
h2{
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}
h3{
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}
h4{
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px;
}
p{
    margin-bottom: 10px;
    line-height: 1.4;
    color: #434343;
}
ol{
    margin-left: 30px;
    line-height: 1.4;
}
ol li{
    font-size: 1.4rem;
    color: #454545;
}
section{
    width: 100%;
    font-size: 1.5rem;
    background-color: #fff;
    display: block;
    float: left;
    padding: 20px;

    
}
section nav{
    display: block;
    float: left;
    width: 30%;
    

}

nav li{
    background-color: #e0dcdc;
    margin: 1px 20px 3px 0;
    padding: 10px;
    
}
nav li:hover{
    background-color: #afacac;
}

nav a{
    text-decoration: none;
    color: #254159;
}

section article{
    display: block;
    float: left;
    width: 70%;
   

}

footer{
    display: block;
    background-color: #254159;
    color: #ffffff;
    float: left;
    width: 100%;
    padding:20px ;
    text-align: center;

}
footer p{
    color: #ffffff;
    font-size: 1.4rem;
}
footer small{
    font-size: 80%;
    display: block;
}